*{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

header{
    text-align: center;
    background-color: blueviolet;
}

footer{
    text-align: center;
    background-color: brown;
}

nav{
    background-color: chartreuse;
}

aside{
    background-color: darkblue;
}

